body{
  background-color: #222 ;
  scroll-behavior: disable;
}
.row{
  width: inherit;
  left: 10%;
}
.site-head {
    position: relative;
    display: table;
    width: 100%;
    height: 40%;
    max-height: 450px; 
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: auto;
    border-bottom: 0px;
    border-left: 0px;
}
header{
  min-height: 60px;
}

 .date
{
  text-align: right
}
.navbar{
    background-color: #a8201a;
    border-color: #a8201a;
    border-radius: 0px; 
}
.navbar-inverse .navbar-brand {
    color: #a8201a;
    border-radius: 0px; 
}
nav.affix {
    top: 0;
    left: 0;
    align-self: center;
   
    z-index: 5;
    background: #222;
    box-shadow: 0 0 3px;
    border-radius: 0px;
    border: 0;
    width: 100%;
    min-height: 
    -webkit-animation: slide-down 400ms cubic-bezier(0.26, 0.72, 0.26, 0.72);
         -o-animation: slide-down 400ms cubic-bezier(0.26, 0.72, 0.26, 0.72);
            animation: slide-down 400ms cubic-bezier(0.26, 0.72, 0.26, 0.72);
  }
  
p{
  font-size: 1.4em;
    line-height: 1.6em;
    font-family: 'Noto Serif',serif;
    color: #3a4145;
    margin: 1.6em 0
}


body
{
    font-family: 'Open Sans', sans-serif;
}

.profile img.image-lg{
    z-index: 0;
    width: 100%;
    height: 30%;
    margin-left: 10px;
    margin-right: 10px;
    max-height: 430px; 
    overflow: hidden;
    margin-bottom: 10px;
    

}

.image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 1000;
    width: 17%; 
    min-width: 100px;
}

@media (max-width:768px)
{
    
.profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 1000;
    width: 17%; 
}
